.auth {
  background-color: #fff;
  background-image: linear-gradient('to top', #fff, #eee);
  height: auto;
  width: 400px;
  margin: -200px 0 0 -230px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2),
    0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff,
    0 7px 0 rgba(0, 0, 0, 0.2);
}

.auth::before {
  content: '';
  position: absolute;
  z-index: -1;
  border: 1px dashed #ccc;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  box-shadow: 0 0 0 1px #fff;
}

.title {
  text-transform: uppercase;
  text-align: center;
  color: #666;
  margin: 0 0 30px 0;
  letter-spacing: 4px;
  font: normal 26px/1 'Verdana', 'Helvetica';
  position: relative;
}

input {
  position: relative;
  padding: 15px 15px 15px 30px;
  margin: 0 0 10px 0;
  font-size: 22px;
  font-family: 'Arial', 'Helvetica';
  width: 353px; /* 353 + 2 + 45 = 400 */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

.action {
  margin: 25px 0 0 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.link-form {
  color: #3151a2;
  float: right;
  line-height: 35px;
  margin-left: 10px;
  font-size: 16px;
}

.is-invalid {
  border: 2px solid red;
}
