<form class="auth" name="auth" [formGroup]="profileForm" (ngSubmit)="login()">
  <h1 class="title">Login form</h1>
  <fieldset class="fieldset">
    <input name="email" type="text" placeholder="email" class="input" formControlName="email" required />
    <input name="pass" type="password" placeholder="password" class="input" formControlName="password" required />
  </fieldset>
  <fieldset class="fieldset action">
    <button type="submit" class='button'>LOGIN</button>
    <nav>
      <a routerLink="/registration" class="link-form">Registrstion</a>
    </nav>
  </fieldset>
</form>