@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.button {
  float: left;
  height: 30px;
  padding: 0;
  width: 120px;
  cursor: pointer;
  font: bold 15px Arial, Helvetica;
  color: #8f5a0a;

  background-color: #ffb94b;
  background-image: linear-gradient('to top', #fddb6f, #ffb94b);

  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

  border-width: 1px;
  border-style: solid;
  border-color: #d69e31 #e3a037 #d5982d #e3a037;
}

.button:focus {
  background-color: #fddb6f;
  background-image: linear-gradient('to top', #ffb94b, #fddb6f);
  outline: none;
}

.button:hover {
  background-color: #fddb6f;
  background-image: linear-gradient('to top', #ffb94b, #fddb6f);
  outline: none;
}

.button:active {
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
body {
  margin: 0;
}


.auth {
  background-color: #fff;
  background-image: linear-gradient('to top', #fff, #eee);
  height: auto;
  width: 400px;
  margin: -200px 0 0 -230px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2),
    0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff,
    0 7px 0 rgba(0, 0, 0, 0.2);
}

.auth::before {
  content: '';
  position: absolute;
  z-index: -1;
  border: 1px dashed #ccc;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  box-shadow: 0 0 0 1px #fff;
}