<form class="auth registration">
  <h1 class="title">REGISTRATION</h1>
  <fieldset class="fieldset">
    <input name="email" type="text" placeholder="email" class="input" />
    <input name="pass" type="password" placeholder="password" class="input" />
    <input name="pass" type="password" placeholder="repeat password" class="input" />
  </fieldset>
  <fieldset class="fieldset action">
    <button type="submit" class='button'>REGISTRATION</button>
    <nav>
      <a routerLink="/login" class="link-form">Return to login</a>
    </nav>
  </fieldset>
</form>